html,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
}

#compilation-result {
  background-color: #111;
  color: #fff;
  height: 500px;
  padding: 1em;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 1vh;
  min-height: 100vh;
  width: 100%;
}

#app #editor {
  height: 100%;
  flex: 1;
  box-sizing: border-box;
  padding: 1px;
}

#app #editor .compileErrorGlyph {
  background-color: rgba(255, 0, 0, 0.1);
}

#app #editor .compileErrorBackground {
  /* background-color: red; */
}

#app divider {
  cursor: ew-resize;
  width: 0px;
  flex: 0 0 auto;
  padding: 0 3px;
}
#app divider::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #AAA;
  margin: 0 auto;
  border-right: #666 1px solid;
  border-left: #666 1px solid;

}
#app divider:hover::before {
  background: #EEE;
  margin: 0 auto;
  border-right: #666 1px solid;
  border-left: #666 1px solid;
}

#app #output-and-controls {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1 1 auto;
}

#app output {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  flex: 2;
}

#app output canvas {
  width: 100%;
  height: 100%;
}

#app controls {
  width: 100%;
  flex: 1;
}

#app controls control {
  display: block;
  margin-top: 1em;
  margin-left: 1em;
}
