html {
  padding: 0;
}

body {
  margin: 0;
  padding: 1em;
  background-color: #111;
  color: #fff;
  font-family: sans-serif;

}

#compilation-result {
  background-color: #111;
  color: #fff;
  height: 500px;
  padding: 1em;
}